<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- build:template
    <% if (environment === 'CDN') { %>
    <title>Dojo Boilerplate CDN version</title>
    <% } else { %>
    <title>Dojo Boilerplate</title>
    <% } %>
    /build --> 
	<!-- build:remove -->
	<title>Dojo Boilerplate Debug</title>
	<!-- /build -->
	
	
    <!-- dependency styles from CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
	<!-- Application-specific CSS should be stored in your application’s package to ensure portability and to allow
	     the build system to combine & minify it. -->
    <!-- build:[href] app/resources/app.css -->
    <!-- put here CSS URI for final version to work (after build) -->
	<link rel="stylesheet" href="app/resources/app.css">
    <!-- /build -->

</head>
<body class="claro">
	<!-- It's important to get something displayed to users as quickly as possible; here, we show a very basic loading
	     screen, which becomes hidden once the application loads -->
	<div class="loading">Loading…</div>

	<!-- dojo.js is an AMD-compliant loader script. It accepts configuration either from a data-dojo-config attribute
	     on the `dojo.js` script tag, from a global dojoConfig object (shown here), or from a global `require` object.

	     Configuration options for the loader can be viewed at http://dojotoolkit.org/reference-guide/loader/amd.html
	     along with a bunch of additional information about its features.
     
    <!-- build:template
    <% if (environment === 'CDN') { %>
    <script type="text/javascript" src="app/dojoConfig.cdn.js"></script>
    <% } else { %>
    <script type="text/javascript" src="app/dojoConfig.js"></script>
    <% } %>
    /build --> 
	<!-- build:remove -->
	<script type="text/javascript" src="app/dojoConfig.debug.js"></script>
	<!-- /build -->
	
	<!-- other URL : //cdnjs.cloudflare.com/ajax/libs/dojo/1.10.4/dojo.js -->
	<!-- build:[src]:CDN //ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js -->
    <script src="dojo/dojo.js"></script>
    <!-- /build -->

	<!-- Load the application. Note that this module ID is hard-coded in build.sh in order to provide
	     an optimised build that loads as few as one script for the entire application. If you change the name or
	     location of this module, you will need to update build.sh too. -->
	<script>require([ 'app/main' ]);</script>
</body>
</html>
